/* HomePage.css */

/* Top Navigation Bar */
.top-bar {
  background-color: #222;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* margin-top: 0px; */
  top: 0;
}

.contact-info span {
  margin-right: 20px;
}

/* Main Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 0px;
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 70px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 20px;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.nav-links a:hover {
  color: #ccc;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  margin-left: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Free Trial Button */
.freetrial-btn {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  text-decoration: none;
  font-size: 16px;
}

.freetrial-btn:hover {
  background-color: blue;
  border-color: blue;
}


/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 10px;
  margin-top: 0%;
  width: 98.7%;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-right: 20px;}

.nav-links li {
  margin: 0 15px;
  position: relative;
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-right: 20px;
}

.nav-links a:hover {
  color: #ccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  margin-left: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

/* Content Section (Slider + Mission & Vision) */
.content-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  background-color: #f9f9f9;
  margin-top: 90px;
}

.slider-container {
  width: 50%;
  overflow: hidden;
  margin-top: 40px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 200%;
}

.video-frame-container {
  flex: none;
  width: 100%;
}

.video-frame {
  width: 100%;
  height: 300px;
  border: none;
}

.mission-vision {
  width: 45%;
  /* padding: 0px; */
}

.mission-vision h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.mission-vision p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.achievement-grid {
  display: flex;
  justify-content: space-between;
  padding: 3% 10%; /* Adjust the padding as needed */
  background-color: #fff; /* Adjust the background color as needed */
  text-align: center;
  margin-top: 0px; /* Adjust the margin to space it from other sections */
}

.achievement {
  flex: 1;
  margin: 0 10px; /* Adjust the margin to space out the items */
  position: relative; /* Needed for the ::after pseudo-element */
}

.achievement h2 {
  font-size: 2rem; /* Adjust the font size for the headings */
  margin-bottom: 0.5rem; /* Adjust the space between heading and paragraph */
  color: #000; /* Adjust the text color */
}

.achievement p {
  font-size: 1.5rem; /* Adjust the font size for the subheading */
  color: #666; /* Adjust the text color */
}

/* Add '|' lines between achievements */
.achievement:not(:last-child)::after {
  content: '|';
  position: absolute;
  right: -15px; /* Positioning the '|' line */
  top: 45%;
  transform: translateY(-50%);
  font-size: 120px; /* Size of the '|' line */
  font-weight: lighter;
  font-style: normal;
  color: #000; /* Adjust the color of the '|' line */
}


/* .achievement-grid {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%; 
  background-color: #fff; 
  text-align: center;
  margin-top: 20px; 
}

.achievement {
  flex: 1;
  margin: 0 10px; 
}

.achievement h2 {
  font-size: 1.5rem; 
  margin-bottom: 0.5rem; 
  color: #000; 
}

.achievement p {
  font-size: 1rem; 
  color: #666; 
} */


/* Qualification Section */
.qualification {
  background-color: #230e79;
  padding: 50px 10%;
  text-align: left;
}

.gradpic {
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  /* overflow: hidden; */
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.1); */
  display: flex;
  width: 400px;
  height: 400px;
}

.qualification h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.qualification p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

/* Research Section */
.research {
  background-color: #e1ffff;
  padding: 10px 10%;
  text-align: left;
}

.research h1 {
  font-size: 36px;
  color: #230e79;
  margin-bottom: 20px;
}

.research h3 {
  font-size: 24px;
  color: #230e79;
  margin-bottom: 10px;
}

.research p {
  font-size: 18px;
  color: #230e79;
  margin-bottom: 10px;
}

.research a {
  color: #0066cc;
  text-decoration: none;
}

.research a:hover {
  text-decoration: underline;
}

/* Study Plans Section */
.study-plans {
  background-color: #00f;
  padding: 50px 10%;
  text-align: left;
}

.study-plans h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.study-plans-container {
  display: flex;
  justify-content: space-around;
}

.study-plan {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.study-plan h3 {
  font-size: 22px;
  color: #222;
  margin-bottom: 15px;
}

.study-plan p {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.checkmark {
  color: green;
  margin-right: 10px;
}

/* Pricing Section */
.pricing {
  background-color: #fff;
  padding: 50px 10%;
  text-align: left;
}

.pricing h2 {
  font-size: 30px;
  color: #00f;
  margin-bottom: 20px;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
}

.pricing-plan {
  background-color: #00f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
}

.pricing-plan h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}

.pricing-plan p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.pricingnote {
  color: #00f;
}

/* About Section */
.about {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

.about h1 {
  font-size: 30px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
}

.about-image {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.about-item {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.about-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #333;
}

.about-item p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

/* .about {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-item {
  background-color: #fff;
  padding: 183px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.about-item2 {
  background-color: #fff;
  padding: 186.4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.about-item3 {
  background-color: #fff;
  padding: 183px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.about-item p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.about-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-image {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
} */


/* FAQs Section */
.faqs {
  background-color: #f9f9f9;
  padding: 50px 10%;
  text-align: left;
}

.faqs h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-question {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question span {
  font-size: 18px;
  color: #333;
}

.faq-answer {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.endofpagesection {
  background-color: #000;
  width: 100%;
  /* height: 50%; */
  z-index: 1000;
  padding: 2.5% 0%;
  display: flex;
}

.eplogo {
  margin-left: 1%;
  margin-top: 0px;
  display: flex;
  /* width: 40px; */
  height: 260px;
}

.epfb {
  margin-left: 1%;
  margin-top: 10%;
  display: flex;
  /* width: 40px; */
  height: 40px;
}
.epinsta {
  margin-left: 1%;
  margin-top: 10%;
  display: flex;
  /* width: 40px; */
  height: 40px;
}
.epyoutube {
  margin-left: 1%;
  margin-top: 10%;
  display: flex;
  /* width: 40px; */
  height: 40px;
}
.eptwitter {
  margin-left: 1%;
  margin-top: 10%;
  display: flex;
  /* width: 40px; */
  height: 40px;
}
.eplinkedin {
  margin-left: 1%;
  margin-top: 10%;
  display: flex;
  /* width: 40px; */
  height: 40px;
}

